<!DOCTYPE html>
<html>
<head>
  <title>Flying 29!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<input type='hidden' id='_hostname' value='<%= root_url(only_path: false)%>'>
</body>
</html>
